* {
  font-family: 'Abril Fatface', cursive;
}
h1.title {
  font-size: 3em;
}
.nav > li > a {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in;
}
a:hover {
  background-color: #e7e7e7 !important;
}
.sub-title {
  padding-left: 20px;
}
div.container {
  margin-bottom: 30px;
  border-bottom: 2px solid #84322E;
}
.nav {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  transition: all 0.4s ease-in-out;
}

.cake-list {
  display: flex;
  flex-flow: row wrap;
}

li {
  margin: 2rem;
}

.cake-link {
  display: flex;
  padding: 10px 0 20px 0;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.cake-link:hover {
  transform: scale(0.98);
}
.cake-item {
  width: 25%;
  display: flex;
}
.cake-image {
  margin-bottom: 15px;
}
img {
  width: 40%;
}
.form-container {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.cake-form {
  width: 300px;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
input[type=number]{
  width: 100px;
}

button {
  color: white;
  background: #BA8D8B;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}
button:hover {
  background-color: #84322E;
}
.row {
  width: 100%;
  margin: 10px;
  padding: 10px;
}
figure > img {
  width: 100%;
  height: 50%;
  padding: 10px
}

.individual-cake {
  width: 20em;
  margin: 0 auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

figure {
  text-align: center;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
